/* Font style */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

/* common style or utilities */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

/* top player style */
main {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-bottom: 21px;
    border-radius: 5px;

}

.top-players {
    padding-bottom: 30px;
}


.section-titel {
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
    padding-bottom: 40px;
}

.players {
    margin-top: 27px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}

.player {
    display: flex;
}


.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;

}

/* ----------------------
       Top Blogs Styles
         ---------------------- */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
}

.blog {
    display: flex;
}

.blog .thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-info {
    padding-left: 16px;
}

.blog-titel {
    font-size: 20px;
}

.blog-author {
    font-size: 16px;
    color: #9F9F9F;

}

.blog-author a {
    color: #562EFF;
    text-decoration: none;
    font-size: 16px;

}

/* -------------------
    Courses Styles
--------------------- */
.section-titel {
    margin-bottom: 15px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
}

.course {
    background: #FFFFFF;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
    width: 235px;
    height: 300px;
    padding: 15px;
    border-radius: 15px;
}

.course .course-banner img {
    width: 224px;
    height: 104px;
}

.course-titel {
    font-size: 20.03px;
}

.course-author {
    font-size: 14.6913px;
    margin-top: 7.17px;
    margin-bottom: 19.25px;

}

.course-info {
    display: flex;
    align-items: center;
}

.course-ratting {
    padding-right: 10.71px;

}

.ratting-count {
    padding-right: 30.72px;
}

.fa-star {
    font-size: 12px;
}

.fa-star {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
}

.ratting-count {
    color: #A2A2A2;
}

.course-duration {
    background: #FFE4E8;
    padding: 8px;
    border-radius: 20px;

}

.fa-clock {
    color: #FF4A60;
    font-size: 15px;
}

/*-----------------------
     Media Queries
---------------------- */

/* Mobile Devices */

@media only screen and (max-width:688px) {
    .container {
        width: 100%;
    }

    .players,
    .blogs,
    .courses {
        grid-template-columns: repeat(1, 1fr);

    }

    .player {
        align-items: center;
        flex-direction: column;
    }

    .blog {
        flex-direction: column;
    }



}

/* Tablet Devices */

@media only screen and (min-width:689px) and (max-width:992px) {
    .container {
        width: 100%;
    }

    .players,
    .courses {
        grid-template-columns: repeat(2, 1fr);
    }

    .player {
        flex-direction: column;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);

    }
}